/* main */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 0.6rem;
}

html::-webkit-scrollbar-track {
    background: #000;
}

html::-webkit-scrollbar-thumb {
    background: #626465;
    border-radius: 5px;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    background: black;
    margin: 0 auto;
}

section {
    width: 1440px;
    margin: 0 auto;
    background: #28272a;
}

ul {
    list-style: none;
}

li {
    list-style-type: none;
}

.btn {
    height: 36px;
    width: 130px;
    padding: 12px 34px;
    background-color: #fee251;
    color: #342900;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    background-color: #352c02;
    color: #fff;
    border: 1px solid #352c02;
}

/* main end */

/* navbar */
.navbar {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.navbar .logo {
    width: 360px;
    height: 90px;
    background-color: #fee251;
    padding: 30px 68px;
}

.navbar .logo__text {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    color: #34322c;
}

.navbar .logo__text::before {
    position: absolute;
    content: '';
    bottom: 6px;
    right: -24px;
    height: 2px;
    width: 18px;
    background-color: #34322c;
}

.navbar .nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 52px;
}

.navbar .nav__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav__content-text {
    color: #fffffb;
    padding: 2px 0 2px 48px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    cursor: pointer;
}

.navbar .nav__content-text:first-child {
    border-right: 2px solid #fffffb;
    padding: 2px 54px;
}

.navbar .nav__content-text:last-child {
    margin-right: 18px;
}

.navbar .nav__circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000;
    z-index: 10;
    cursor: pointer;
}

/* navbar end */

/* home slider */
.swiper.homeSwiper {
    width: 100%;
    height: 100%;
    position: relative;
}

.homeSwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 25;
}

.homeSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.homeSwiper .swiper-button-prev,
.homeSwiper .swiper-button-next {
    position: absolute;
    top: calc(100% - 40px);
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    font-weight: 700;
    z-index: 20;
}

.homeSwiper .swiper-button-prev::after,
.homeSwiper .swiper-button-next::after {
    font-size: 12px;
    color: #292929;
    font-weight: 700;
}

.homeSwiper .swiper-button-prev {
    left: 390px;
}

.homeSwiper .swiper-button-next {
    left: 440px;
}

.homeSwiper .swiper-pagination {
    width: 120px;
    bottom: 30px;
    padding: 8px 40px;
    border-radius: 50px;
    background-color: #28272a;
    left: calc(100% - 300px);
    color: #fff;
    z-index: 20;
    overflow: hidden;
}

/* home slider end */

/* menu */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 270px;
    height: 100%;
    padding: 170px 0 80px 60px;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-x: hidden;
}

.menu .menu__list {
    display: flex;
    flex-direction: column;
    row-gap: 46px;
}

.menu .menu__list-item {
    position: relative;
    overflow-x: hidden;
    transition: all 0.5s ease;
}

.menu .menu__list-item::before {
    position: absolute;
    content: '';
    top: 50%;
    right: -120px;
    transform: translateY(-50%);
    width: 80px;
    height: 2px;
    opacity: 0;
    background-color: #fff;
    transition: all 0.5s ease;
}

.menu .menu__list-item.active::before {
    opacity: 1;
    right: -20px;
}

.menu .menu__list-item a {
    color: #969798;
    padding-right: 20px;
    transition: all 0.5s ease;
    text-transform: capitalize;
}

.menu .menu__list-item.active a {
    color: #fff;
}

.menu .menu__list-item:hover a {
    color: #fff;
}

/* menu end */

/* home */
.home {
    position: relative;
    height: 100vh;
}

.home__slider-content {
    position: absolute;
    top: 30%;
    left: 380px;
    text-align: left;
    max-width: 340px;
}

.home__slider-title {
    color: #fff;
    font-size: 55px;
    margin-bottom: 38px;
}

.home__slider-desc {
    color: #fff;
    font-size: 15px;
    margin-bottom: 48px;
}

.home__slider-bottom {
    position: absolute;
    bottom: 36px;
    left: 490px;
    z-index: 20;
}

.home__slider-bottom span {
    color: #fff;
    position: relative;
}

.home__slider-bottom span::after {
    position: absolute;
    content: '';
    width: 680px;
    top: 50%;
    left: calc(100% + 30px);
    transform: translateY(-50%);
    height: 2px;
    background-color: #59585a;
    z-index: -1;
}

.shape {
    background-color: hsla(260, 7%, 16%, 1);
    filter: blur(120px);
    border-radius: 10px;
    width: 100%;
    height: 380px;
}

.home .shape {
    position: absolute;
    bottom: -10rem;
    left: 0;
    z-index: 10;
}

/* home end */

/* features */
.features {
    padding: 90px 0;
    position: relative;
    display: grid;
    grid-template-columns: 270px 1fr;
    overflow-x: hidden;
}

.features__left {
    text-align: right;
}

.features__left-title {
    color: #fefdff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.features__left-desc {
    max-width: 133px;
    margin-left: auto;
    font-size: 13px;
    line-height: 1.8;
    color: #efeef1;
    font-weight: 500;
    margin-bottom: 120px;
}

.veatures__left-link {
    color: #efeef1;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    transition: all 0.4s ease;
}

.veatures__left-link::before {
    position: absolute;
    content: '';
    bottom: 2px;
    right: calc(100% + 16px);
    background-color: #efeef1;
    width: 90px;
    height: 2px;
}

.veatures__left-link:hover {
    color: #e4d27a;
}

.feature__item-img {
    width: 270px;
    height: 270px;
}

.featuresSwiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 45px;
}

.swiper.featuresSwiper {
    max-width: 930px;
    width: 100%;
    height: 100%;
    padding-bottom: 75px;
}

.swiper.featuresSwiper .swiper-slide {
    max-width: 270px;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #28272a;
    overflow: hidden;
}

.features__body {
    padding: 95px 120px;
}

.feature__item-title {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
}

.feature__item-subtitle {
    color: #68676a;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.feature__item-desc {
    text-align: left;
    color: #ababab;
    margin-bottom: 40px;
    line-height: 1.4;
}

.feature__item-btn {
    color: #f5de6e;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    transition: all 0.4s ease;
    padding: 2px;
}


.feature__item-btn::before {
    position: absolute;
    bottom: 1px;
    left: -100%;
    content: '';
    background-color: #f5de6e;
    width: 100%;
    height: 1px;
    transition: all 0.5s ease;
}

.feature__item-btn:hover::before {
    left: 0;
}

.features__slider-bottom {
    position: absolute;
    bottom: 15px;
    left: 0;
    z-index: 20;
}

.features__slider-bottom span {
    color: #fff;
    position: relative;
}

.features__slider-bottom span::after {
    position: absolute;
    content: '';
    width: 1400px;
    top: 50%;
    left: calc(100% + 30px);
    transform: translateY(-50%);
    height: 2px;
    background-color: #59585a;
    z-index: -1;
}

.featuresSwiper .swiper-pagination {
    width: 120px;
    bottom: 10px;
    padding: 8px 40px;
    border-radius: 50px;
    background-color: #28272a;
    left: calc(100% - 180px);
    color: #fff;
    z-index: 20;
    overflow: hidden;
}

/* features end */


/* above */

.above {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 80px;
}

.above__img {
    width: 600px;
    height: 600px;
}

.above__body {
    display: flex;
    flex-direction: column;
}

.above__title {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 55px;
    margin-top: -5px;
}

.above__subtitle {
    color: #dad7d7;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 0.6px;
    margin-bottom: 60px;
    font-weight: 100;
}

.above__desc {
    max-width: 330px;
    margin-bottom: 30px;
    color: #dad7d7;
    font-size: 12px;
}

.above__btn {
    margin-top: 55px;
    white-space: nowrap;
    padding: 8px 29px;
}

/* above end */

/* editor */
.editor {
    padding: 40px 0 100px;
    display: grid;
    grid-template-columns: 270px 1fr;
}

.editor__left {
    text-align: right;
    padding-top: 50px;
}

.editor__left-title {
    color: #fefdff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 22px;
}

.editor__left-desc {
    max-width: 133px;
    margin-left: auto;
    font-size: 13px;
    line-height: 1.8;
    color: #efeef1;
    font-weight: 500;
    margin-bottom: 120px;
}

.editor .swiper {
    width: 100%;
    max-width: 930px;
    height: 100%;
    position: relative;
    padding-top: 145px;
}

.editor .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}

.editor .swiper-slide .editor__img.big-img {
    width: 600px;
    height: 600px;
}

.editor .swiper-slide div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.editor .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.editor .swiper-slide .editor__img {
    width: 270px;
    height: 270px;
    transition: all 0.4s ease;
}


.editor .swiper-slide .editor__img:hover {
    transform: scale(1.05);
}

.editor .swiper-slide .editor__img.wide {
    width: 600px;
    height: 270px;
}

.editorSwiper .swiper-button-prev,
.editorSwiper .swiper-button-next {
    position: absolute;
    top: 63px;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 50%;
    font-weight: 700;
    z-index: 20;
}

.editorSwiper .swiper-button-prev::after,
.editorSwiper .swiper-button-next::after {
    font-size: 12px;
    color: #292929;
    font-weight: 700;
}

.editorSwiper .swiper-button-prev {
    left: 0;
}

.editorSwiper .swiper-button-next {
    left: 50px;
}

.editorSwiper .swiper-pagination {
    width: 120px;
    height: 35px;
    position: absolute;
    top: 41px;
    left: calc(100% - 320px);
    padding: 8px 40px;
    border-radius: 50px;
    background-color: #28272a;
    color: #fff;
    z-index: 20;
    overflow: hidden;
}

.editor__slider-bottom {
    position: absolute;
    top: 58px;
    left: 110px;
    z-index: 20;
}

.editor__slider-bottom span {
    position: relative;
}

.editor__slider-bottom span::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 930px;
    height: 2px;
    background-color: #68676a;
}

.editor__slider-sort {
    position: absolute;
    z-index: 20;
    left: calc(100% - 153px);
    top: 43px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 30px;
    overflow: hidden;
    background-color: #28272a;

}

.editor__slider-sort span {
    color: #fff;
    margin-right: 10px;
    font-size: 12px;
}

.editor__slider-sort i {
    color: #fff;
    transform: translateY(-2px);
    font-size: 10px;
}

/* editor end */

/* mountain */
.mountain {
    padding: 100px 115px 80px 270px;
    background: url(../images/mountain-bg-2.jpg) center / cover no-repeat;
    position: relative;
}

.mountain .blur {
    width: 100%;
    height: 122px;
    position: absolute;
    content: '';
    top: -56px;
    left: 0;
    right: 0;
    background-color: hsla(260, 7%, 16%, 1);
    filter: blur(31px);
    z-index: 10;
}

.mountain__title {
    font-size: 55px;
    color: #fffffe;
    font-weight: 700;
    margin-bottom: 45px;
}

.mountain__item-img {
    width: 270px;
    height: 270px;
}

.mountain__desc {
    max-width: 350px;
    font-size: 13px;
    line-height: 1.8;
    color: #fcffff;
    font-weight: 500;
    margin-bottom: 55px;
}

.mountain__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d0cfcf;
    padding-bottom: 60px;
    padding-top: 60px;
}

.mountain__item:last-child {
    border-bottom: none;
}

.mountain__item-title {
    color: #fefdff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 6px;
}

.mountain__item-subtitle {
    color: #667075;
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 25px;
}

.mountain__item-desc {
    color: #c2cace;
    font-size: 14px;
    max-width: 590px;
    font-weight: 300;
}

.mountain__item-btn {
    margin-top: 35px;
}

/* mountain end */

/* subscribe */

.subscribe {
    margin: 0 auto;
    position: relative;
    z-index: 20;
    height: 415px;
}

.subscribe__wrapper {
    text-align: center;
    margin: 0 auto;
    width: 1200px;
    padding: 115px 100px 45px 100px;
    border-top: 1px solid #9b9898;
}

.subscribe-title {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}

.subscribe__block {
    max-width: 530px;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
    padding-top: 85px;
    padding-bottom: 95px;
}

.subscribe__input {
    padding: 12px 34px 12px 12px;
    background-color: #fff;
    color: #342900;
    font-size: 15px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 30px;
    margin-right: 10px;
    outline: none;
}

.subscribe__img {
    width: 330px;
    height: 230px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

/* subscribe end */

/* footer */
.footer {
    width: 1440px;
    height: 90px;
    margin: 0 auto;
    background-color: #fee251;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .logo {
    height: 90px;
    background-color: #fee251;
    padding: 30px 0 30px 68px;
}

.footer .logo__text {
    font-size: 25px;
    font-weight: 700;
    position: relative;
    color: #28272a;
}

.footer .logo__text::before {
    position: absolute;
    content: '';
    bottom: 6px;
    right: -24px;
    height: 2px;
    width: 18px;
    background-color: #28272a;
}

.footer .copy {
    font-weight: 600;
}

.footer .copy i {
    font-weight: 500;
    color: #28272a;
}

.footer .socials {
    transform: translateX(-125px);
    display: flex;
    gap: 25px;
}

.footer .socials a i {
    color: #28272a;
    transition: 0.6s ease-in-out;
}

.footer .socials a:hover i {
    transform: rotateY(360deg);
}

/* footer end */

/* responsive */
@media (max-width: 575px) {
    section {
        width: 575px;
        max-width: 575px;
    }

    .navbar {
        height: 60px;
        justify-content: flex-start;
    }

    .navbar .nav__right {
        margin-right: 0;
    }

    .navbar .logo {
        width: 150px;
        height: 60px;
        padding: 15px 30px;
    }

    .navbar .nav__content-text:first-child {
        display: none;
    }

    .menu {
        display: none;
    }

    .home__slider-content {
        left: 5%;
    }

    .homeSwiper .swiper-button-prev,
    .homeSwiper .swiper-button-next {
        display: none;
    }

    .home__slider-bottom {
        left: 5%;
    }

    .homeSwiper .swiper-pagination {
        width: 90px;
        bottom: 30px;
        padding: 6px 20px;
        left: calc(100% - 300px);
    }

    .features {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .features__left-desc {
        margin-bottom: 50px;
    }

    .features__body {
        padding: 95px 0;
    }

    .swiper.featuresSwiper {
        max-width: 575px;
    }

    .feature__item-btn::before {
        left: 100%;
    }

    .swiper.featuresSwiper .swiper-slide {
        width: 100%;
        max-width: 390px;
        padding: 5px 10px;
        margin: 0 auto;
    }

    .features__slider-bottom {
        left: 5%;
    }

    .features__slider-bottom span::after {
        width: 350px;
        transform: translateY(0);
    }

    .featuresSwiper .swiper-pagination {
        left: 260px;
        width: 90px;
        bottom: 10px;
        padding: 6px 20px;
    }

    .above {
        display: flex;
        flex-direction: column;
    }

    .above__img {
        display: block;
        align-self: center;
        width: 450px;
        height: 450px;
        transform: translateX(30%) rotate(45deg);
    }

    .above__body {
        padding-left: 20px;
        transform: translateY(-50px);
    }

    .above__subtitle {
        max-width: 360px;
    }

    .above__btn {
        margin-top: 25px;
    }

    .editor {
        padding: 0 0 60px;
        display: flex;
        flex-direction: column;
    }

    .editor__left {
        text-align: left;
        padding-top: 0;
        padding-left: 20px;
    }

    .editor__left-desc {
        margin-left: 0;
        margin-bottom: 40px;
    }

    .editorSwiper .swiper-pagination {
        left: 135px;
        top: 44px;
        width: 90px;
        height: 30px;
        padding: 6px 20px;
    }

    .editorSwiper .swiper-button-prev {
        left: 10px;
    }

    .editor__slider-sort {
        left: 255px;
        padding: 6px 20px;
        top: 45px;
    }

    .editor .swiper-slide .editor__img.big-img {
        width: 350px;
        height: 350px;
    }

    .editor .swiper-slide {
        justify-content: flex-start;
        gap: 20px;
    }

    .editor .swiper-slide div {
        gap: 20px;
    }

    .editor .swiper-slide .editor__img {
        width: 350px;
        height: 350px;
    }

    .editor .swiper-slide .editor__img.wide {
        width: 350px;
        height: auto;
    }


    .mountain {
        padding: 100px 0 80px 0;
    }

    .mountain__title {
        max-width: 300px;
        padding-left: 20px;
    }

    .mountain__desc {
        padding-left: 20px;
    }

    .mountain__item {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .mountain__item-img {
        width: 350px;
        height: 350px;
        margin-bottom: 20px;
    }

    .subscribe__wrapper {
        padding: 60px 20px 45px;
        max-width: 575px;
    }

    .subscribe__input {
        margin-bottom: 30px;
    }

    .footer {
        width: 575px;
    }

    .footer .logo {
        width: 150px;
        height: 60px;
        padding: 15px 30px;
    }

    .footer .socials {
        transform: translateX(-15px);
        gap: 10px;
    }

    .footer .copy {
        transform: translateX(-30px);
    }
}

@media (max-width: 414px) {
    .swiper.featuresSwiper {
        max-width: 550px;
    }

    .editor .swiper {
        max-width: 515px;
    }

    .editorSwiper .swiper-button-prev {
        left: 0;
    }

    .mountain__body {
        padding: 0 20px;
    }

    .mountain__item-img {
        width: 376px;
        height: 376px;
    }

    .mountain__item-desc {
        width: 380px;
    }

    .subscribe__wrapper {
        padding: 60px 0;
        max-width: 414px;
    }

    .subscribe__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer {
        width: 414px;
    }

    section.subscribe {
        width: 414px;
    } 
}

@media (max-width: 390px) {

    .swiper.featuresSwiper {
        max-width: 575px;
    }

    .editor .swiper {
        max-width: 575px;
    }

    .editorSwiper .swiper-button-prev {
        left: 10px;
    }

    .mountain__body {
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    .mountain__item-img {
        width: 350px;
        height: 350px;
    }

    .mountain__item {
        max-width: 390px;
        padding: 40px 20px;
    }

    .mountain__item-desc {
        width: 360px;
    }

    .editor .swiper-slide {
        padding: 0 20px;
    }

    .editor__slider-sort {
        left: 255px;
    }

    .subscribe__wrapper {
        padding: 60px 20px 45px;
        max-width: 390px;
        margin: 0;
    }

    .footer {
        width: 390px;
        height: 60px;
    }
}

@media (max-width: 360px) {
    .swiper.featuresSwiper .swiper-slide {
        max-width: 360px;
    }

    .features__left {
        padding-right: 5px;
    }

    .homeSwiper .swiper-pagination {
        left: 225px;
    }

    .featuresSwiper .swiper-pagination {
        left: 228px;
    }

    .above__subtitle {
        max-width: 340px;
    }

    .above__desc {
        max-width: 320px;
    }

    .editor .swiper-slide .editor__img.big-img {
        width: 320px;
        height: 320px;
    }

    .editor .swiper-slide .editor__img {
        width: 320px;
        height: 320px;
    }

    .editor .swiper-slide .editor__img.wide {
        width: 320px;
        height: auto;
    }

    .mountain__item-img {
        width: 320px;
        height: 320px;
    }

    .mountain__item-desc {
        width: 320px;
    }

    section.subscribe {
        width: 360px;
    }

    .subscribe__wrapper {
        max-width: 360px;
    }

    .footer {
        width: 360px;
    }
}


/* responsive end */